<% if logged_in? %>
  
  <% if current_user.photo.attached? %>
    <script type='text/javascript'>
      window.currentUser = {
              "id": <%= current_user.id %>,
              "username": "<%= current_user.username %>",
              "email": "<%= current_user.email %>",
              "photoUrl": "<%= url_for(current_user.photo) %>"
      }
    </script>
  <% else %>
    <script type='text/javascript'>
      window.currentUser = {
              "id": <%= current_user.id %>,
              "username": "<%= current_user.username %>",
              "email": "<%= current_user.email %>",
      }
    </script>
  <% end %>
  
  
<% end %>


<main id="root"></main>