<!DOCTYPE html>
<html>
  <head>
    <title>OnDesk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!--LinkedIn Feauters --->
    <meta property="og:title" content="onDesk" />
    <meta property='og:image' content="<%= image_url('app1.png') %>"/>
    <meta property="og:description"
      content="A collaboration tool that gives teams prospective on projects."
    />
    <meta property="og:url"
      content="https://ondesk.herokuapp.com/"
    />

    <!--<Mozzila--->
    <link href="https://mozilla.github.io/foundation-icons/assets/foundation-icons.css" type="text/css" rel="stylesheet">

    <%= favicon_link_tag 'logo.png' %>
    <!-- import font--->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
    <!--- lins to icons --->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    <script type="text/javascript">
      window.logo = "<%= image_url('logo.png') %>";
    </script>

    <% if logged_in? %>
      <% body = "yes" %>
    <% else %>
      <% body = "no" %>
    <% end %>
  </head>

  
  <body class="<%= body %>">
    <%= yield %>
  </body>
</html>
