<!DOCTYPE html>
<html>
  <head>
    <title>OnDesk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'logo.png' %>
    <!-- import font--->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <% if logged_in? %>
    <% body = "bye" %>
  <% else %>
    <% body = "hello" %>
  <% end %>
  <body class="<%= body %>">
    <%= yield %>
  </body>
</html>
