<!DOCTYPE html>
<html>
  <head>
    <title>OnDesk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--<Mozzila--->
    <link href="http://mozilla.github.io/foundation-icons/assets/foundation-icons.css" type="text/css" rel="stylesheet">

    <%= favicon_link_tag 'logo.png' %>
    <!-- import font--->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet">
    <!--- lins to icons --->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <% if logged_in? %>
    <% body = "yes" %>
  <% else %>
    <% body = "no" %>
  <% end %>
  <body class="<%= body %>">
    <%= yield %>
  </body>
</html>
